<div>
    <h3>_LifeCycleChild - @CountValue</h3>
    <hr />
    @foreach(var item in EventType)
    {
        @item
        <hr />
    }
</div>

@code {

    [Parameter]
    public int CountValue { get; set; }

    [Parameter]
    public List<string> EventType { get; set; }


    protected override void OnInitialized()
    {
        string str = DateTime.Now.ToString("mm:ss ffff") + ": Child - OnInitialized is called";
        EventType.Add(str);
        Console.WriteLine(str);
    }

    protected override void OnParametersSet()
    {
        string str = DateTime.Now.ToString("mm:ss ffff") + ": Child - OnParametersSet is called";
        EventType.Add(str);
        Console.WriteLine(str);
    }

    protected override bool ShouldRender()
    {
        string str = DateTime.Now.ToString("mm:ss ffff") + ": Child - ShouldRender is called";
        EventType.Add(str);
        Console.WriteLine(str);
        return true;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        string str = DateTime.Now.ToString("mm:ss ffff") + ": Child - OnAfterRender is called";
        EventType.Add(str);
        Console.WriteLine(str);
    }


}